:root {
    --principal: rgb(222, 21, 75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

main {
    max-width: 1240px;
    justify-content: center;
    margin: auto;
}

p {
    margin: 0px;
}

.container-header {
    display: none;
}


.container-main-user {
    display: none;
}

.container-header-desktop {
    width: 100%;
    background-color: rgb(31, 31, 31);
    position: fixed;
    display: flex;
    top: 0px;
    box-shadow: 2px 2px 2px rgb(120, 120, 120);
    padding: 5px;
    align-items: center;
}

.navegation {
    display: flex;
    width: 70%;
}

.img-logo {
    width: 100px;
    margin-right: 5px;
}

.container-nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    position: relative;
    width: 100%;
}

.item-nav {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(222, 221, 221);
    font-weight: bold;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background-color: transparent;
}

.fa-house {
    margin-right: 5px;
}

.item-nav:hover {
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
    color: #7a7a7a;
    transition: background-color 0.5s ease;
    box-shadow: 2px 2px 2px rgb(174, 172, 172);
}


.p-c {
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(222, 221, 221);
    font-weight: bold;
    width: 145px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;

}

.p-c:hover {
    color: #7a7a7a;
    background-color: rgb(232, 232, 232);
}

.cambiarcolor {
    color: #7a7a7a;
    background-color: rgb(232, 232, 232);
}

.categories {
    position: relative;
}


.nover {
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: absolute;
    width: 300px;
    list-style: none;
    -webkit-box-shadow: -1px 5px 6px -3px #adadad;
    box-shadow: -1px 5px 6px -3px #aeaeae;
    left: 0px;
    top: 32px;
    border-radius: 5px;
    transition: background-color 1s ease;
    background-color: rgb(232, 232, 232);
}

#novieww {
    margin-left: 10px;

}

.item-noview {
    margin-top: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #7a7a7a;
    height: 35px;
    padding: 10px 10px;
    display: flex;
    align-items: center;

}

.item-noview:hover {
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 20px;
    transition: background-color 0.5s ease;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(163, 163, 163);
}


#tv {
    margin-bottom: 0px;
}

.shop-cart {
    position: absolute;
    right: 20px;
    display: flex;
}

.fa-user {
    color: rgb(222, 221, 221);
    font-size: 20px;
    margin-right: 30px;
}

.fa-user:hover {
    cursor: pointer;
    color: rgb(195, 194, 194);
    transition: color 0.6s ease;
}

.fa-basket-shopping {
    color: rgb(222, 221, 221);
    font-size: 20px;
}

.fa-basket-shopping:hover {
    cursor: pointer;
    color: rgb(195, 194, 194);
    transition: color 0.6s ease;
    ;
}



.rotansas {
    transform: rotate(0.95turn);
    transition: visibility 0s, opacity 0.5s linear;
}


.container-footer {
    margin-bottom: 0px;
    max-width: 1240px;
    margin: auto;
}

.footer {
    background-color: rgb(20, 20, 20);
}

.rota {
    transform: rotate(0.250turn);
    transition: transform 0.5s ease;
}

.publicidad {
    display: none;
}

.img-publicidad {
    display: flex;
    padding: 0px;
}

.img-principal {
    width: 390px;
    height: 400px;
    box-shadow: 2px 1px 2px 1px rgb(193, 193, 193);
    border-radius: 10px;
}

.img-principal:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px 4px rgb(193, 193, 193);
}

.img-pre-product {
    width: 40%;
    height: 50%;

}

.img-pre-product:hover {
    width: 40%;
    height: 50%;
}

.sample-productos {
    margin-top: 130px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.desktop-samples {
    width: 800px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}


.item-sample-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-bottom: 0.2px solid rgb(236, 236, 236);
    width: 170px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 1px 1px rgb(194, 193, 193);
}

.item-sample-product:hover {
    width: 180px;
    transition: width 0.3s ease;
    box-shadow: 2px 2px 4px grey;
}


.title-pre-product {
    font-size: 15px;
}

.title-pre-product:hover {
    transition: color 0.3s ease;
}


.fa-xmark:hover {
    cursor: pointer;
}

.soporte:hover {
    cursor: pointer;
}

.container-img {
    margin: 0px;
}

#img-producnew {
    width: 380px;
}

.container-productnew {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-item-public {
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px 1px rgb(225, 224, 224);
}

.img-item-public:hover {
    width: 320px;
    transition: width 2s ease;
    box-shadow: 2px 2px 2px 1px rgb(193, 193, 193);
}


/*scroll*/

.container-main-scroll {
    overflow: hidden;
    margin: 0px 8%;
}

.main-scroll-h {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.item-scroll {
    width: 25%;
    box-shadow: 1px 1px 2px 1px rgb(222, 220, 220);
}

.item-scroll:hover {
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(193, 193, 193);
    cursor: pointer;
}


.publicidadf {
    width: 35%;
    height: 110px;
}

.cupon {
    padding: 20px;
    justify-content: center;
}

.fafa2 {
    margin-right: 30px;
}

.publicidadff {
    width: 30%;
}


.information-container {
    padding: 0px 15%;
}

.title-information {
    font-size: 26px;
    text-decoration: underline;
}

.title-information:hover {
    font-size: 26px;
    text-decoration: underline;
    color: var(--principal);
    transition: color 0.3s ease;
    cursor: pointer;
}

/*foooter*/

.img-pago {
    width: 40px;
    height: 40px;
}

.yes-view {
    overflow: hidden;
    padding: 30px;
    padding-bottom: 0px;
}

.text-quienes-somos {
    height: auto;
    font-size: 18px;
}

.contacto {
    margin-bottom: 20px;
}

.title-pais {
    font-size: 19px;
}

.text-pais {
    font-size: 17px;
}

.container-footer {
    padding: 50px;
}

.text-quienes-somos {
    margin-bottom: 0px;
}

.container-quienes-somos {
    margin-bottom: 30px;
}

.productnew-btn:hover {
    width: 330px;
    transition: width 1s ease;
    background-color: var(--principal);
}

.fa-square-facebook:hover {
    color: rgb(43, 60, 212);
    transition: color 1s ease;
    font-size: 48px;
    cursor: pointer;
}

.fa-square-instagram:hover {
    background: rgb(127, 16, 163);
    background: linear-gradient(90deg, rgba(127, 16, 163, 1) 0%, rgba(231, 62, 139, 1) 42%, rgba(240, 69, 121, 1) 64%, rgba(241, 130, 44, 1) 100%);
    transition: background 1s ease;
    font-size: 48px;
    border-radius: 5px;
    height: 48px;
    cursor: pointer;

}


.fa-square-youtube:hover {
    color: rgb(222, 47, 12);
    transition: color 1s ease;
    font-size: 48px;
    cursor: pointer;
}

#novieww:hover {
    cursor: pointer;
}

/*INICIAR SESION*/

#offcanvasRight {
    margin-top: 0%;
    margin-bottom: 50%;
    width: 500px;
    height: 500px;
    border: none;
    display: flex;
    justify-content: center;
}

/*Productos*/

.container-card {
    width: 270px;
    height: 420px;
    margin-right: 15px;
}

.card-img {
    width: 150px;
    height: 160px;
    margin: 10px auto;
}

.main-productos {
    width: 72%;
    justify-content: flex-start;
    margin-left: 23%;
    position: relative;
}

.container-main-productos {
    display: flex;
    position: relative;
}



.filter {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 25px;
    position: fixed;
}


.item-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title-filter {
    margin-bottom: 25px;
}

.text-filter {
    margin: 0px;
    margin-right: 15px;
}

.divisores {
    display: flex;
}

.divisores:hover {
    background-color: #adabab;
    padding: 5px;
    width: 50%;
    color: white;
    border-radius: 5px;
}

.text-check {
    margin-right: 10px;
}


.cc {
    width: 60px;
}

.ccc {
    width: 140px;
    margin-bottom: 5px;
}

.escodido {
    width: 500px;
    margin-bottom: 15px;
    color: #7a7a7a;
}

#btn:hover {
    position: absolute;
    bottom: 10px;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    width: 90%;
}

/*registro*/
.registrar-container {
    padding: 85px;
    padding-bottom: 0px;
}


.formulario-registro {
    padding: 5% 15%;
    width: 550px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -1px 1px 11px 0px rgba(138, 138, 138, 0.7);
    box-shadow: -1px 1px 11px 0px rgba(138, 138, 138, 0.7);
    border-radius: 5px;
}

.btn-register {
    width: 300px;
    margin: 20px 0px;
}

.item-input {
    text-align: center;
}

.modal-body-aut {
    width: 35%;
    margin: auto;
}

/* modalinfo*/

.modal-tin {
    height: 70%;
    margin-top: 5%;
}

.modal-body-informacion {
    overflow: hidden;
    padding: 200px;
}

.modal-footer {
    justify-content: center;
}

.container-informacion-producto-modal {
    padding: 5px;
}

.precio-producto-modal {
    margin: 0px 50px;
    color: var(--principal);
}

#add {
    cursor: pointer;
}

.contador {
    bottom: 15px;
    right: 0px;
}

.resumen-compra {
    width: 550px;
}

.contenedor-img-informacion-producto {
    margin-top: 0px;
}