* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

/*---------------------------------------header--------------------------------------*/


.container-header {
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 0px;
    justify-content: space-evenly;
    align-items: center;
}


#iconMain {
    font-size: 28px;
    text-shadow: 2px 2px 2px rgb(189, 189, 189);
}

#iconMain:hover {
    color: rgb(227, 122, 70);
}

.search-input {
    width: 50%;
    text-align: center;
    margin: 10px;
    font-size: 22px;
    border: 2px transparent solid;
    background-color: transparent;
}


#searchicon {
    font-size: 25px;
    text-shadow: 2px 1px 1px rgb(223, 223, 223);
}


.title-ecommerce {
    font-size: 40px;
    font-weight: bold;
    margin-top:30px;
    margin-bottom: 0px;
    color: transparent;
    color: #353131;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.title-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 50px auto 10px auto;
    height:60px;
    background: transparent;
    border: 3px rgb(227, 122, 70) solid;
    text-align: center;
    border-radius:0px;
    border-left:none;
    box-shadow: 2px 2px 2px rgb(202, 199, 199);
}

.send-free {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:35px;
    background-color: rgb(227, 122, 70);
    color: rgb(216, 214, 214);
    text-shadow: 2px 1px 1px black;
    box-shadow: 3px 3px 2px rgb(200, 200, 200);
    height:50px;
}

.title-send-free {
    margin: 0px 0 0 10px;
    font-size: 16px;
}

/*------------------------------------main--------------------------------------*/

.sample-productos {
    display: flex;
    width:100%;
    flex-direction: column;
    margin-top:45px;
}

.item-sample-product {
    display: flex;
    align-items: center;
    margin-bottom:60px;
    border-radius:30px;
    border-bottom: 3px solid rgb(214, 213, 213);
}

.img-pre-product {
    width:30%;
    height: 25%;
    margin-right: 10px;
}

.img-pre-product:hover{
    width:40%;
}

.title-pre-product {
    width: 60%;
    font-size:20px;
}

.fafa {
    color: rgb(227, 122, 70);
    text-shadow: 2px 2px 2px rgb(163, 163, 163);
}

.fafa2{
    color: rgb(227, 122, 70);
    text-shadow: 2px 2px 1px rgb(44, 44, 44);
}

.container-productnew {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin:5px;
    bottom:15px;
}

.title-productnew {
    font-size:35px;
    font-weight: 600;
    margin-bottom:20px;
    color: rgb(28, 28, 28);

}

.container-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.img-productnew {
    width: 350px;
    margin: 0;
}

.title-img-productnew {
    width: 100%;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: rgb(75, 74, 74);

}

.productnew-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 57px;
    background-color: rgb(9, 9, 9);
    border: 2px transparent solid;
    border-radius: 25px;
    color: rgb(210, 210, 210);
    box-shadow: 2px 2px 2px rgb(185, 185, 185);
    margin-bottom:15px;
}

#comprar-new {
    color: rgb(222, 98, 48);
    margin-right: 20px;
    margin-left: 45px;
}

/*--------------------------------section abosoluta----------------------*/

.container-wpp{
    position: fixed;
    bottom:90px;
    display: flex;
    margin-left:15px;
}

.fa-whatsapp{
    font-size:50px;
    color: rgb(55, 192, 55);
}

.commit{
    margin-left:5px;
    background-color: #ffff;
    height:50px;
    display: flex;
    align-items: center;
    padding:20px;
    border-radius:40px;
}

.text-wpp{
    margin:0px;
    margin-right:10px;
}

.container-main-user {
    width: 100%;
    height:66px;
    position: fixed;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
}

.item {
    width: 33.33%;
    font-size: 22px;
    background-color: transparent;
    text-shadow: 2px 1px 2px rgb(200, 200, 200);
    border-radius: 100%;
    padding: 4px;
    text-align: center;
}

.user-init {
    font-size: 12px;
}

#home {
    color: rgb(222, 98, 48);
    font-size: 28px;
    text-shadow: 2px 2px 2px gray;
}

#home:hover {
    color: rgb(61, 107, 198);
}

.cupon{
    margin-top:0px;
    margin-bottom:5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    color: white;
    height:100px;
    padding:20px;
    overflow:inherit;
    box-shadow: 2px 2px 2px rgb(185, 185, 185);
}

.title-cupon{
    width:50%;
    font-size:90%;
    margin:0;
}


.fa-user-astronaut{
    font-size:26px;
    text-shadow: 2px 2px 2px grey;
}

.fa-user-astronaut:hover{
    color:rgb(222, 98, 48) ;
    text-shadow: 2px 2px 2px rgb(71, 71, 71);
    font-size:35px;
}

.registar{
    margin:0px;
}

.registar:hover{
    color:rgb(222, 98, 48) ;
    font-size:18px;
}

/*---------------------scroll---------------------*/

.main-scroll{
    margin:20px;
}

.title-main-scroll{
    display: flex;
    justify-content: center;
}

.text-title-main-scroll{
    font-size:22px;
    font-weight:bold;
    color: #575656;
    margin-bottom:35px;
}

.arrow-movent{
    position:relative;
}

.arrow-letf{
    position:absolute;
    top:0px;
    width:37px;
    height:37px;
    border-radius:50%;
    border:2px grey solid ;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 1px 1px 2px grey;
    color:rgb(222, 98, 48) ;
}
.arrow-letf:hover{
    position:absolute;
    top:0px;
    width:37px;
    height:37px;
    border-radius:50%;
    border:2px transparent solid ;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 1px 1px 2px grey;
    color: white;
    background-color:rgb(222, 98, 48) ;
}


.arrow-right{
    position:absolute;
    top:0px;
    width:37px;
    height:37px;
    border-radius:50%;
    right:0px;
    border:2px grey solid ;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 1px 1px 2px grey;
    color: rgb(222, 98, 48);
}

.arrow-right:hover{
    position:absolute;
    top:0px;
    width:37px;
    height:37px;
    border-radius:50%;
    border:2px transparent solid ;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 1px 1px 2px grey;
    color: white;
    background-color:rgb(222, 98, 48) ;
}