* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

/*---------------------------------------header--------------------------------------*/
.container-header {
    display: flex;
    margin: 35px;
    justify-content: space-between;
    align-items: center;
}

#iconMain {
    font-size: 28px;
    color: rgb(56, 55, 55);
    text-shadow: 2px 2px 2px rgb(189, 189, 189);
}

.search-input {
    width: 90%;
    text-align: center;
    font-size: 22px;
    border: 2px transparent solid;
    background-color: transparent;
}

#searchicon {
    color: rgb(28, 28, 28);
    text-shadow: 2px 2px 2px rgb(156, 155, 155);
}


/*------------------------------------product new --------------------------------------*/

.container-productnew {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.title-productnew {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 35px;
    color: rgb(28, 28, 28);

}

.container-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.img-productnew {
    width: 350px;
    margin: 0;
}

.title-img-productnew {
    width: 100%;
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: rgb(75, 74, 74);
}

.productnew-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 57px;
    background-color: rgb(9, 9, 9);
    border: 2px transparent solid;
    border-radius: 25px;
    color: rgb(210, 210, 210);
    box-shadow: 2px 2px 2px rgb(185, 185, 185);
    margin-bottom: 50px;
}

#comprar-new {
    color: rgb(208, 122, 88);
    margin-right: 20px;
    margin-left: 45px;
}

/*--------------------------------section abosoluta----------------------/*